<app-card titulos="Primeiro componentes" cor="#3D4D63">
  <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulos="Segundo componente" cor="#ccc">
  <app-segundo-componente-component></app-segundo-componente-component>
</app-card>
<app-card titulos="Terceiro Componente" cor="blue">
  <app-terceiro-component></app-terceiro-component>
</app-card>
<app-card titulos="Two Way Data Binding">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulos="Lista de Celulares">
  <app-lista-celulares></app-lista-celulares>
</app-card>
<app-card titulos="Tamanho de fonte">
  <app-font-size></app-font-size>
</app-card>
<app-card titulos="Componentes personalizados" cor="#00008B	">
  <app-componente-personalizado nome="pedro"></app-componente-personalizado>
  <app-componente-personalizado></app-componente-personalizado>
</app-card>
<app-card titulos="Services" cor="#32CD32"><app-service-one></app-service-one> 
<app-services-two></app-services-two> </app-card>
<app-card><app-elemento-pai></app-elemento-pai> </app-card>
<app-card titulos="Ciclo de vida"><app-ciclo-de-vida-pai></app-ciclo-de-vida-pai> </app-card>
